@font-face {
  font-family: Inter;
  src: url(/font/inter.woff2);
  font-weight: 100 900;
  font-display: optional;
  ascent-override: 96.8%;
  descent-override: 24.1%;
  line-gap-override: 0%;
}

@font-face {
  font-family: Vazirmatn;
  src: url(/font/vazirmatn.woff2);
  font-weight: 400;
  font-display: optional;
  ascent-override: 102.5%;
  descent-override: 53.7%;
  line-gap-override: 0%;
}

@font-face {
  font-family: Arya;
  src: url(/font/arya.woff2);
  font-weight: 400;
  font-display: optional;
  ascent-override: 126.5%;
  descent-override: 54.4%;
  line-gap-override: 0%;
}

@font-face {
  font-family: Arya;
  src: url(/font/arya-bold.woff2);
  font-weight: 700;
  font-display: optional;
  ascent-override: 126.5%;
  descent-override: 54.4%;
  line-gap-override: 0%;
}

@font-face {
  font-family: Zain;
  src: url(/font/zain.woff2);
  font-weight: 400;
  font-display: optional;
  ascent-override: 90%;
  descent-override: 50%;
  line-gap-override: 0%;
}

@font-face {
  font-family: Zain;
  src: url(/font/zain-bold.woff2);
  font-weight: 700;
  font-display: optional;
  ascent-override: 90%;
  descent-override: 50%;
  line-gap-override: 0%;
}
