@use "tailwind";
@use "@angular/material" as mat;
@use "theme";
@use "sass:map";

:root {
  color-scheme: light dark;

  @include mat.theme(
    (
      color: (
        primary: theme.$primary-palette,
        tertiary: theme.$tertiary-palette,
        theme-type: color-scheme,
      ),
      density: 0,
    )
  );

  &[dir="ltr"] {
    @include mat.theme(
      (
        typography: (
          brand-family: (
            Arya,
            Zain,
            sans-serif,
          ),
          plain-family: (
            Roboto,
            Vazirmatn,
            sans-serif,
          ),
        ),
      )
    );
  }

  &[dir="rtl"] {
    @include mat.theme(
      (
        typography: (
          brand-family: (
            Zain,
            sans-serif,
          ),
          plain-family: (
            Vazirmatn,
            sans-serif,
          ),
        ),
      )
    );
  }

  &.DEFAULT-LIGHT-theme {
    color-scheme: light;
  }

  &.DEFAULT-DARK-theme {
    color-scheme: dark;
  }

  @apply bg-surface;
  @apply text-on-surface;
  @apply font-body-lg;

  @include mat.sidenav-overrides(
    (
      container-width: 256px,
      container-divider-color: var(--mat-sys-outline-variant),
    )
  );

  @include mat.card-overrides(
    (
      title-text-font: var(--mat-sys-headline-small-font),
      title-text-line-height: var(--mat-sys-headline-small-line-height),
      title-text-size: var(--mat-sys-headline-small-size),
      title-text-tracking: var(--mat-sys-headline-small-tracking),
      title-text-weight: var(--mat-sys-headline-small-weight),
    )
  );

  @include mat.divider-overrides(
    (
      color: var(--mat-sys-outline-variant),
    )
  );

  @media (width >= 960px) {
    @include mat.sidenav-overrides(
        (
          container-width: 88px,
        )
    );
    --mat-sidenav-container-background-color: var(--mat-sys-surface-container);
  }
}

.more-less-btn {
  @apply absolute end-0 bottom-0 ps-28;
  @apply select-none;
  @apply cursor-pointer;
  @apply font-body-lg;
  @apply text-on-surface-variant;

  mat-card & {
    background: linear-gradient(
      to right,
      transparent,
      var(--mat-sys-surface-container-low) 50%,
      var(--mat-sys-surface-container-low) 100%
    );
  }

  [dir="rtl"] mat-card & {
    background: linear-gradient(
      to left,
      transparent,
      var(--mat-sys-surface-container-low) 50%,
      var(--mat-sys-surface-container-low) 100%
    );
  }
}
