<mat-sidenav-container class="h-full">
  <mat-sidenav #drawer>
    <mat-toolbar class="justify-between">
      <button (click)="drawer.close()" mat-icon-button>
        <mat-icon class="mat-icon-rtl-mirror" fontIcon="menu_open" />
      </button>
      <mat-button-toggle-group
        (valueChange)="switchThemeVariant($event)"
        [value]="currentThemeVariant()"
        hideSingleSelectionIndicator
      >
        <mat-button-toggle value="AUTO">
          <mat-icon fontIcon="motion_photos_auto" />
        </mat-button-toggle>
        <mat-button-toggle value="LIGHT">
          <mat-icon fontIcon="light_mode" />
        </mat-button-toggle>
        <mat-button-toggle value="DARK">
          <mat-icon fontIcon="dark_mode" />
        </mat-button-toggle>
      </mat-button-toggle-group>
    </mat-toolbar>

    <mat-nav-list>
      @for (menuItem of menu(); track $index) {
        <a [routerLink]="menuItem.link" mat-list-item>
          <mat-icon [fontIcon]="menuItem.iconName" matListItemIcon />
          <span matListItemTitle>{{ menuItem.title | transloco }}</span>
        </a>
      }
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="justify-between">
      <button (click)="drawer.toggle()" mat-icon-button>
        <mat-icon fontIcon="menu" />
      </button>
      <button (click)="switchLanguage(alternativeLanguage()[0])" mat-button>
        {{ alternativeLanguage()[1] }}
      </button>
    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
